<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to fazbook</h1>
    <!-- anchor element linking to create a new user page -->
    <a href="/users/new">Create a user</a>
    <% users.forEach(function(user){ %>
      <div>

        <span><a href="/users/<%= user.id %>"><%= user.firstName %></a></span>
        <form action="/users/<%= user.id %>?_method=DELETE" method="POST">
        <input type="submit" value="X" />
        </form>
      </div>
      <% }) %>
  </body>
